.aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 10%;
}

.About-Us {
    margin-bottom: 150px;
}

.About-Us img {
    width: 32%;
    height: 87%;
    float: left;
    margin-right: 5em;
}

.About-Us .information {
    width: ;
    height: 600px;
    padding-left: 2em;
}

h2 {
    color: red;
    font-weight: bold;
    font-size: 55px;
}

p {
    font-size: 20px;
}

button {
    color: red;
    font-weight: bold;
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    width: 200px;
    border-color: black;
    border-radius: 20px ;
    padding: 10px;
    margin: 8% 0 0 22%;
}

button:hover {
    background-color: green;
    color: white;
    opacity: 60;
}


/* What We Do  */

.whatwedo {
    width: 100%;
    height: 550px;
}

.whatwedo h2, h3, .whatwedo p {
    text-align: center;
}

.whatwedo .column {
    float: left;
    width: 30%;
}

.three-column {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h3 {
    color: red;
    font-size: 25px;
    font-weight: bold;
}

.whatwedo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.whatwedo:after {
    clear: both;
}

.left, .middle, .right {
    width: 33.3%;
}


/* Our Team Member */

.team-member {
    width: 100%;
    height: 600px;
}

.team-member h2, h3, .team-member p {
    text-align: center;
}

.team-member img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.team-member .member {
    float: left;
   
}

.member-list {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.team-member img {
    
}

.team-member:after {
    content:"";
    clear: both;
}
