.aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 10%;
}

.About-Us {
    margin-bottom: 150px;
}


.About-Us img {
    width: 38%;
    height: 90%;
    float: left;
    margin-right: 5em;
    border-radius: 50%;
}

.About-Us .information {
    height: ;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.aboutUsHeader, .contact , .whatwedo h2, .team-member h2 {
    color: #8B0000;
    font-weight: bold;
    font-size: 55px;
}

.aboutUsHeader {
}

p {
    font-size: 20px;
}

button {
    color: #8B0000;
    font-weight: bold;
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    width: 200px;
    border: 1px solid black;
    border-radius: 20px ;
    padding: 10px;
    margin-top: 8%;
}

button:hover {
    background-color: green;
    color: white;
    opacity: 60;
}


/* What We Do  */

.whatwedo {
    width: 100%;
    margin-bottom: 20%;
}

.whatwedo h2, h3, .whatwedo p {
    text-align: center;
}

.whatwedo .column {
    float: left;
    width: 30%;
}

.three-column {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h3 {
    color: #8B0000;
    font-size: 25px;
    font-weight: bold;
    margin-top: px;
}

.whatwedo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.whatwedo:after {
    clear: both;
}

.left, .middle, .right {
    width: 33.3%;
}


/* Our Team Member */
   
.team-member {
    width: 100%;
}

.team-member h2, h3, .team-member p {
    text-align: center;
}

.team-member img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.team-member .member {
    float: left;
   
}

.member-list {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.team-member img {
    
}

.team-member:after {
    content:"";
    clear: both;
}


@media only screen and (max-width: 769px) {
    .About-Us {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .About-Us img {
        margin: 0;
        border-radius: 40%;
        width: 100%;
    }

    .About-Us :first-child {
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
    }

    .three-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .whatwedo .column {
       margin-bottom: 10%;
       width: 80%;
    }

    .whatwedo img {
        width: 100%;
    }

    .member-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .team-member .member {
        margin-bottom: 15%;
        width: 80%;
    }

    .team-member img {
        width: 100%;
    }
}