body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .general-div {
    width: 100%;
    height: 100%;
  }

  
  #carousel{
    height:500px;
    top:22px;
  }
  
  #menu{
    display:flex;
    justify-content: space-around;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-link active{
    text-align: right;
  }

  .container-fluid {
    width: auto;
    height: 10%;
    margin: 0;
    justify-items: center;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar-nav a {
    margin: 1rem 1rem 1rem 1rem;
  }

  .nav-link {
    color: green;
  }
  
  .buttons{
    display:flex;
    justify-content: space-around;
  }
  
  .button2 { 
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
  
  }

  
  .button1 { 
    background-color: #318e25; 
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    border-radius: 20px; 
    width: 400px;
    white-space: nowrap;
  }
  
  .button3 { 
    background-color: #00ff9d; 
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    border-radius: 20px;
    width:400px;
    white-space: nowrap;
  }
  
  .display_things {
    align-content: left;
    margin: 10px;
    background-color: lawngreen;
    display: none; 
    width: 1100px;
    position: absolute;
    z-index: 10000;
  }
  
  .button3:hover ~ .display_things{
    display: flex;
    justify-content: space-around;
  }
  
  .button4 { 
    background-color: #f4740b; 
    border: none;
    color: white;
    padding: 15px 170px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    border-radius: 20px;
    width:400px;
  }
  
  .button:hover{
    background-color: green;
    
  }
  
  
  td{
    text-align: center;
  }
  
  th{
    text-align:center;
  }
  
  #top{
    background-color: #44841a;
    background-attachment: false;
    height:500px;
  }
  
  /*                Top               */
  .slide-show {
    width: 100%;
    height: 500px;
  }
  h1 {
    font-size: 48px;
    color: white;
    margin-top: 125px;
  }
  
  h4 {
    margin-left: 10em;
    margin-right: 10em;
    font-size: 24px;
    color: white;
  }
  
  a {
    padding: 10px 29px;
    background-color: white;
    color: green;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 3em;
    font-size: 22px;
    font-weight: 600;
  }

  #card-link {
    color: white;
    background-color: green;
  }

  .navbar-light .navbar-brand{
    color: green;
    font-size: 250%;
    background-color: white;
    color: green;
    font-weight: bolder;
    border-radius: 15px;
  } 
  
  
  .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link {
    color: green;
    background-color: white;
    color: green;
    font-weight: bolder;
    border-radius: 15px;
  }

  .navbar-light .navbar-brand:hover, .navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .nav-link:hover  {
    color: white;
    opacity: 0.4;
    background-color: green;
  }

  .navbar-light .navbar-nav .nav-link {
    color: green;
  }
  
  a:hover {
    color: whitesmoke;
    opacity: 0.7;
    background-color: green;
  }
  
  #mySlider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .singleSlide {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0;
    text-align: center;
    line-height: 10em;
    height: 100%;
  }
  
  .slideOverlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 50px;
    height: 100%;
  }
  
  #sliderNav {
    position: relative;
    top: -250px;
  }
  
  #sliderNav:hover {
    cursor: pointer;
  }
  
  #sliderPrev {
    position: relative;
    float: left;
    left: 50px;
  }
  
  #sliderNext {
    position: relative;
    float: right;
    right: 50px;
  }
  
  #sliderNext img,
  #sliderPrev img {
    width: 32px;
    filter: grayscale(1) invert(1);
   
  }
  
  @-webkit-keyframes slideIn {
    100% {
      left: 0;
    }
  }
  
  @keyframes slideIn {
    100% {
      left: 0;
    }
  }
  
  .slideInRight {
    left: -100%;
    -webkit-animation: slideIn 1s forwards;
    animation: slideIn 1s forwards;
  }
  
  .slideInLeft {
    left: 100%;
    -webkit-animation: slideIn 1s forwards;
    animation: slideIn 1s forwards;
  }
  
  @-webkit-keyframes slideOutLeft {
    100% {
      left: -100%;
    }
  }
  
  @keyframes slideOutLeft {
    100% {
      left: -100%;
    }
  }
  
  .slideOutLeft {
    -webkit-animation: slideOutLeft 1s forwards;
    animation: slideOutLeft 1s forwards;
  }
  
  @-webkit-keyframes slideOutRight {
    100% {
      left: 100%;
    }
  }
  
  @keyframes slideOutRight {
    100% {
      left: 100%;
    }
  }
  
  .slideOutRight {
    -webkit-animation: slideOutRight 1s forwards;
    animation: slideOutRight 1s forwards;
  }
  /* #button can come here soon! */
  
  #bangladesh{
    margin:10px;
    display:block;
    font-family: Arial Black;
    font-size: 40px;
    font-smooth: true;
    font-style:italic;
    
  }
  
  /* Event Section */
  #events{
    height:400px;
    display: flex;
    justify-content: space-around;
  }
  
  #sub{
    position:absolute;
    margin: 10px;
  }
  
  .card{
    margin-top: 2em;
    height: 350px;
  }
  
  .card .card-text {
    margin-bottom: 3em;
  }
  
  .card .card-text, .card-subtitle {
    margin-top: .6em;
  }
  
  /* Registration Form  */
.form-general-div {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin-left: 10%;
}

.animate__animated {
    display: flex;
    flex-direction: column;
}

  .form-control{
    margin: 5px 0px 8px 0px;
    border: 1px solid green;
    width: 80%;
  }
  
  .formGroupExampleInput {
    margin: 10px 0;
  }
  
  .form-control:hover{
    border: 2px solid black;
  }
  
  #join_button{
    
    color: green;
    width: 45%;
    height: 8vh;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    background-color: orange;
    font-size: 1.4vw;
    border-radius: 15px;
    margin:0px;
    border-width: 1px;
  }

  .join_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    justify-items: center;
    margin-left: 25%;
  }
  
  label{
    margin: 10px 10px 0px 0px;
    padding: 5px 5px 5px 0px;
    font-size: large;
    font-weight: 600;
  }
  
  #join_button:hover{
    background-color: blue;
  }
  
  #contact{
    height: 200px;
    background-color: #8B0000;
    } 
  
  #writing{
    margin:10px;
    font-size: 30px;
    color: green;
    font-weight: bold;
  }
  
  #fb{
    max-width: 100%;
    max-height: 100%;
  }
  
  #fb_container{
    width:50px;
    height:50px;
  }
  
  #container_fb_container{
    position: relative;
    left:700px;
    top:98px;
    align-content: center;
  }

  .toggle-container {
    height: 100%;
    width: 0%;
    position: fixed;
    background-color: green;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s ease;
    transform: translateX();
    text-align: right;
  }

  .toggle-container a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: bold;
  }

  .toggle-container .closebtn {
    position: relative;
    top: 0;
    margin: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
    color: #8B0000;
    background: green;

  }

  #content-area {
    transition: margin-left 0.5s;
    padding: 16px;
  }

  .content-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .content-text h2 {
    text-transform: uppercase;
    color: green;
    font-weight: bolder;
  }

  .content-text h2:hover {
    color: white;
    background: green;
    border-radius: 5px;
    opacity: 40%;
    text-align: center;
    letter-spacing: 0.5vw;
  }


  .navbars {
    font-size: 30px;
    cursor: pointer;
    color: rgb(150, 148, 148);
    padding: 0 1%;
    border: 1px solid rgb(209, 208, 208);
  }

  .toggle-container ul li {
    margin-top: 8vh;
  }

  .menu-head {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(30deg,#f4740b,#8b0000);
  }

  .toggle-container ul {
    width: 100%;
    list-style: none;
    margin: 0 5% 0 0;
    padding-left: 0;
  }

  .toggle-container ul li {
    display: block;
    width: 100%;
    margin: 3% 0;
  }

  .toggle-container ul li a {
    color: white;
    padding: 2% 8% 2% 8%;
    background-color: green;
    text-decoration: none;
    display: block;
    font-size: 24px;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    text-transform: capitalize;
    margin: 0;
  }

  .toggle-container ul li:hover a{
    background: #f4740b;
    color: #44841a;
    width: 100%;
    border-radius: 0;
    letter-spacing: 4px;
  }

  /*
  .toggle-input {
    appearance: none;
    visibility: hidden;
    display: none;
  }
*/

  .toggle-span {
    position: absolute;
    right: -40px;
    top: 30px;
    font-size: 25px;
    border-radius: ;
    color: #fff;
    padding: 3px 8px;
    cursor: pointer;
    background: #000;  
  }

  #bars, #bars2, #bars3, .bar {
    background: white;
  }
  

  .ourEvents {
     background: url("img/bang.jpg");
     background-repeat: no-repeat;
     background-size: 100% auto;
     height: 60vh;
     display: block;
     display: flex;
     flex-direction: column;
     color: white;
     text-transform: capitalize;
     text-align: center;
     align-items: center;
     justify-content: center;    
  }

  .ourEventsText {
    margin: 0;
    height: 10%;
  }

  .ourEventsText:hover {
    cursor: pointer;
  }

  .eventsSection {
    display: grid;
    grid-template-rows: ;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    margin: 8% 5%;
  }

  .eventsDiv {
    width: ;
    margin-bottom: 24%;
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
  }

  .eventsImg {
    width: 100%;
    height: 47%;
  }

  .eventsText {
    margin: 5%;
  }

  .eventsText p {
    color: #a0a7ab;
    font-size: medium;
  }

  .eventsSection .eventsDiv .eventsText h2 {
    font-weight: 700;
  }

  .eventsSection .eventsDiv .eventsText p {
    padding-top: 2%;
    font-size: large;
  }

  .eventsSection .eventsDiv .eventsText p span {
    color: #212529;
    font-weight: 800;
  }

  

  .eventsSection .eventsDiv a {
    padding: 0;
    margin: 0;
  }

  .eventsSection .eventsDiv a button {
    width: 100%;
    padding: 0;
    margin: 0;
    color: white;
    border: none;
    height: 10vh;
    background: #8B0000;
  }

  .eventsSection .eventsDiv a button:hover {
    background: #f4740b;
  }

  .eventsSection .eventsDiv a button {
    transition: transform 0.3s;
    /* other styles */
  }
  
  .eventsSection .eventsDiv a button:hover {
    transform: translateY(-5px);
  }
  
  .eventsSection .eventsDiv a button:hover {
    transform: translateY(0);
  }

  .allEventDiv {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
  }

  #footer {
    justify-content: space-between;
    padding: 10px 70px;
    background: linear-gradient(green,red);
    font-size: 20px;
    font-weight: 600;
    color: black;
    width: 100%;
    height: 70px;
}

#footer .copyright{
    margin: 0;
    float: left;
    width: 50%;
    margin-top: .7em;
}
#footer .icons-contact{
  display: flex;
  float: right;
  margin-top: .5em;
}
#footer .icon-contact {
    margin: 0 3px;
    cursor: pointer;
    display: inline-block;
    margin-left: 2em;
    
}

.footerContainer {
  display: flex;
  flex-direction: column;
  background-color: #333;
  justify-content: center;
}

.footerContainer .mainFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.footerContainer .mainFooter ul {
  display: flex;
  flex-direction: column;
}

.footerContainer .mainFooter div ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #333;
}

.footerContainer .mainFooter div ul li {
  padding: 1rem 1rem;
  background-color: #333;
}

.footerContainer a {
  color: #fff;
  text-decoration: none;
  background-color: #333;
  border-radius: none;
}

.footerContainer a:hover {
  background-color: #333;
}

.footerContainer .copyrightDiv {
  display: flex;
  justify-content: center;
  color: white;
  font-size: large;
}

@keyframes bounce {
  0% {
    transform: translateY(15px);
  }
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateY(-15px);
  }
  45% {
    transform: translateX(5px);
  }
  60% {
    transform: translateY(15px);
  }
  75% {
    transform: translateY(-5px);
  }
  87% {
    transform: translateX(5px);
  }
  100% {
    transform: translateY(15px);
  }
}


  

  @media only screen and (max-width: 768px) {
    .nav-bg {
      display: none;
    }
  }

  @media only screen and (min-width: 769px) {
    .nav-sm {
      display: none;
    }
  }





/**
  .mobile-container {
    display: none;
  }
  
 
  @media only screen and (max-width: 768px) {
    .mobile-container {
      max-width: 480px;
      margin: auto;
      background-color: white;
      height: auto;
      color: white;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    
    .topnav {
      overflow: hidden;
      background-color: white;
      position: relative;
    }
    
    .topnav #myLinks {
      display: none;
    }
    
    .topnav a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
    }
    
    .topnav a.icon {
      background: white;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }

    .mobile-container a.icon {
      color: #555;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .active {
      
      color: #555;
    }

    .nav-keys {
      color: white;
    }

    .myLinks {
      position: relative;
    }
  }
  ***/

  